<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog App</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <% if (locals.user) { %>
    <div>
      <h2>User Info:</h2>
      <pre><%= JSON.stringify(user, null, 2) %></pre>
      <pre><%= JSON.stringify(blogs) %></pre>
    </div>
    <% } %> <%- include('./partials/scripts.ejs') %>
  </body>
</html>
