<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog App</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <% if (locals.user) { %>
    <div>
      <h2>User Info:</h2>
      <div class="container mt-3 row row-cols-2">
        <% blogs.forEach(blog=> { %>
        <div class="card m-3" style="width: 15rem">
          <img
            src="<%= blog.coverImgURL %>"
            class="card-img-top"
            style="height: 15rem; width: 100%"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
          </div>
        </div>
        <% }) %>
      </div>
      <%- include('./partials/scripts.ejs') %>
    </div>
    <% } %> <%- include('./partials/scripts.ejs') %>
  </body>
</html>
